*{
  box-sizing: border-box;
  margin: 5px;
  width: 55%;
  margin-left: 26%;
  background-color: rgb(252, 241, 228);
}
.in{
  margin: 0 10px;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  
  margin: 0 10px;
} 

.guardar {
  margin: .5rem 0;
}

form {
  text-align: center;
}

textarea {
  height:100px
}

.listanom{
  margin: 0 10px;
}



